@model CRUD.Web.Models.CadastroUsuarioViewModel

@{
    ViewData["Title"] = "Cadastro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2">
            @if (Model.Id > 0)
            {
                <h4>Editar</h4>
            }
            else
            {
                <h4>Cadastro</h4>
            }
            <hr />
        </div>
    </div>

    @using (Html.BeginForm("SalvarUsuario", "home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(model => model.Id)
        //dados usuario
        <div class="row">
            <div class="col-12 col-md-4 offset-md-2 form-group">
                @Html.LabelFor(model => model.Nome, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.Nome, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
            </div>
            <div class="col-12 col-md-4 form-group">
                @Html.LabelFor(model => model.Email, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 offset-md-2 form-group">
                @Html.LabelFor(model => model.Telefone, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.Telefone, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Telefone, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-2 offset-md-6 mb-1">
                @Html.ActionLink("Voltar", "Index", new { }, htmlAttributes: new { @class = "btn btn-secondary btn-block" })
            </div>
            <div class="col-12 col-md-2">
                <button type="submit" class="btn btn-primary btn-block">Salvar</button>
            </div>
        </div>
    }

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
