@model CRUD.Web.Models.UsuarioDetalheViewModel

@{
    ViewData["Title"] = "Detalhe Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <h4>Usuario Detalhe</h4>
        </div>
        <div class="col-12 col-md-3">
            @Html.ActionLink("Excluir", "DeleteUsuario", "Home", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-danger btn-block" })
        </div>
        <div class="col-12 col-md-3">
            @Html.ActionLink("Editar", "Cadastro", "Home", new { }, htmlAttributes: new { @class = "btn btn-primary btn-block" })
        </div>
        <div class="col-12">
            <hr />
        </div>
    </div>
    @*dados do usuario*@
    <div class="box-dados">
        <div class="row">
            <div class="col-12">
                @Html.LabelFor(model => model.Id, new { @class = "control-label" }):
                @Html.DisplayFor(model => model.Id, new { @class = "" })
            </div> <div class="col-12">
                @Html.LabelFor(model => model.Nome, new { @class = "control-label" }):
                @Html.DisplayFor(model => model.Nome, new { @class = "" })
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                @Html.LabelFor(model => model.Email, new { @class = "control-label" }):
                @Html.DisplayFor(model => model.Email, new { @class = "" })
            </div>
            <div class="col-12">
                @Html.LabelFor(model => model.Telefone, new { @class = "control-label" }):
                @Html.DisplayFor(model => model.Telefone, new { @class = "" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-3 offset-md-9 mb-2">
            @Html.ActionLink("Adicionar endereco", "CadastroEndereco", new { userId = Model.Id}, htmlAttributes: new { @class = "btn btn-primary btn-block" })
        </div>
    </div>
    @*lista de enderecos*@
    <div class="box-enderecos">
        <div class="row">
            @foreach (var item in Model.LstEndereco)
            {
                if (Model.LstEndereco.IndexOf(item) % 2 == 0)
                {
                    <a class="endereco mb-2" href="@Url.ActionLink("CadastroEndereco","Home",new {id = item.Id })">
                        <div class="row titulo">
                            <div class="col-12">
                                @item.Titulo
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 logradouro">
                                @item.Logradouro, @item.Numero @item.Complemento
                            </div>
                            <div class="col-12 bairro">
                                @item.Bairro
                            </div>
                            <div class="col-12 cidade">
                                @item.Cidade/@item.Estado
                            </div>
                        </div>
                    </a>
                }
                else
                {
                    <a class="endereco par  mb-2" href="@Url.ActionLink("CadastroEndereco","Home",new {id = item.Id })">
                        <div class="row titulo">
                            <div class="col-12">
                                @item.Titulo
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 logradouro">
                                @item.Logradouro, @item.Numero @item.Complemento
                            </div>
                            <div class="col-12 bairro">
                                @item.Bairro
                            </div>
                            <div class="col-12 cidade">
                                @item.Cidade/@item.Estado
                            </div>
                        </div>
                    </a>
                }
            }
        </div>
    </div>
</div>